/* variables */
:root {
    /* font */
    --ff-base: "Open Sans", sans-serif;
    --ff-accent: "Poppins", sans-serif;
    --fs-base: 1.125rem;
    --fs-h1: 2.5rem;
    --fs-h2: 2rem;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    /* color */
    --clr-accent: hsl(322, 100%, 66%);
    --clr-primary-100: hsl(193, 100%, 96%);
    --clr-primary-900: hsl(192, 100%, 9%);
    --clr-neutral-200: hsl(208, 11%, 55%);
}

/* reset */
/* box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default margin */
* {
    margin: 0;
}

/*  Allow percentage-based heights in the application */
html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* tweaking line height */
body {
    line-height: 1.5;
}

/* font smooting */
body {
    -webkit-font-smoothing: antialiased;
}

/* media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* inherit font for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* word wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* remove text decoration anchor tag */
a {
    text-decoration: none;
    color: inherit;
}

/* remove list style */
ul {
    list-style: none;
    padding: 0;
}

/* utilities */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

/* general styling */
body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: var(--fs-base);
    background-color: #fff;
}

/* wrapper */
.wrapper {
    max-width: 1920px;
}

/* header */
.header {
    background-image: url(/images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    /* background-position: center top; */
    background-size: cover;
    background-color: var(--clr-primary-100);
    overflow: hidden;
}

.header__wrapper {
    width: clamp(1024px - 4rem, 100% - 10rem, 1440px - 5rem);
    margin-inline: auto;
}

/* brand */
.brand {
    align-items: center;
    justify-content: space-between;
    padding-block: 3rem;
}

.header__logo {
    width: 12rem;
}

.btn {
    display: block;
    width: fit-content;
    font-size: 0.875rem;
    font-weight: var(--fw-bold);
    padding: 0.813rem 4rem;
    border-radius: 3rem;
}

.btn__secondary {
    color: var(--clr-primary-900);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn__secondary:is(:hover, :focus) {
    color: var(--clr-neutral-200);
}

.btn__primary {
    color: #fff;
    background-color: var(--clr-accent);
    box-shadow: 0 0 10px hsl(322, 100%, 66%, 0.2);
}

.btn__primary:is(:hover, :focus) {
    background-color: hsl(322, 100%, 80%);
}

/* hero */
.hero {
    gap: 4rem;
    align-items: center;
    padding-block: 1rem 4rem;
}
.hero__img {
    width: 55%;
}

.hero__title {
    font-family: var(--ff-accent);
    font-size: var(--fs-h1);
    color: var(--clr-primary-900);
    font-weight: var(--fw-semibold);
    margin-bottom: 1.5rem;
}

.hero__subtitle {
    color: var(--clr-primary-900);
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    :root {
        --fs-base: 1rem;
        --fs-h1: 2rem;
        --fs-h2: 2rem;
    }
    .header__wrapper {
        width: clamp(280px - 3rem, 100% - 3rem, 1024px - 3rem);
    }

    .header__logo {
        width: 7rem;
    }

    .btn {
        padding: 0.625rem 2rem;
    }
    .hero {
        flex-direction: column;
        margin-inline: auto;
        text-align: center;
        padding-top: 5rem;
    }

    .hero__content {
        width: min(100%, 600px);
    }

    .hero__content .btn {
        margin-inline: auto;
    }

    .hero__img {
        width: calc(100% - 2rem);
    }
}
